src/test/resources/projects/simple/src/main/resources/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.hibernate.org/build/xjc/simple"
            targetNamespace="http://www.hibernate.org/xsd/orm/mapping"
            elementFormDefault="qualified"
            version="1.0">
    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="first" type="xsd:string" minOccurs="0"/>
                <xsd:element name="second" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>